.about{
    .about_item{
        padding: 30px 80px;
        @include m {
            padding: 30px 30px;
        }
    }
    a, button{
        display: inline-block;
    }
    .button-cv{
        margin-left: 80px;
        @include m {
            padding-left: 30px;
        }
    }
}