// **** HEADER **** //
// ================ //

#barre{
    height: 5px;
    position: fixed;
    z-index: 999;
    bottom: top;
    background: $color-main;
}

.change-color-container{
    position: absolute;
    position: fixed;
    display: flex;
    right: 20px;
    bottom: 10px;
    z-index: 99;
    .change-color{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        padding: 0;
        margin: 0 10px;
        // cursor: pointer;
    }
    .violet{
        background: #9984D4;
    }
    .pink{
        background: #FF4D80;
    }
    .blue{
        background: #0075F2;
    }
}