// **** IDO **** //
// ============= //

.iDo_container{
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 4vw;
    gap: 30px;
    @include l {
        grid-template-columns: 1fr;
    }
    @include l {
        padding: 30px;
    }
    .iDo_items{
        padding: 20px;
    }
}