// **** IDO **** //
// ============= //

.iDo_container{
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @include m {
        grid-template-columns: 1fr;
    }
    @include m {
        padding: 30px;
    }
    .iDo_items{
        h3{
            padding-bottom: 10px;
        }
    }
}