// **** SKILLS **** //
// ================ //

.skills{
    .skills_container{
        @include m{
            display: flex;
            flex-direction: row;
            width: 100%;
            svg{
                width: 50px;
            }
        }
        svg{
            fill: $color-white;
            width: 80px;
            stroke: $color-white;
            // cursor: pointer;
            &:hover{
                transition: $transition;
                fill: $color-main;
                stroke: $color-main;
            }
        }
    }
    .skills_container_dev , .skills_container_others{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        @include m {
            flex-direction: column;
        }
    }
    .skills_items{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 200px;
        @include m {
            flex-direction: column;
            width: auto;
        }
        .details_skills{
            display: none;
            height: 50px;
            font-size: 20px;
        }
        .details_skills.active{
            display: block;
            animation: show_skills_left 1s forwards;
            @include m {
                animation: show_skills_top 1s forwards;
            }
        }
    }
    .separation{
        @include size(90%, 1px);
        background: $color-white;
        margin: 40px 5%;
        @include m {
            @include size(1px, 600px);
        }
    }
}