// **** FOOTER **** //
// ================ //

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        padding: 40px 20px;
    }
    .contact{
        a{
            display: inline-block;
            margin: 0 30px 20px 0;
        }
        svg{
            width: 40px;
            fill: var(--white);
            &:hover{
                transition: 0.3s;
                fill: var(--mainColor);
            }
        }
    }
}