// **** NAV **** //
// ============= //

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 99;
    position: fixed;
    width: 100%;
    background-color: var(--black);
    // background: linear-gradient(rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0));
    svg {
        width: 80px;
        padding-left: 15px;
        @include m {
            display: none;
        }
        path{
            stroke: var(--mainColor);
            animation: complete_line 4s ease-out forwards;
            &:nth-child(1) { 
                stroke-dasharray: 1000px;
                stroke-dashoffset: 1000px;      
            }
            &:nth-child(2) { 
                stroke-dasharray: 700px;
                stroke-dashoffset: 700px;      
            }
        }
    }    
    .liste_nav{
        display: flex;
        align-items: center;
        @include m {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            top: 10px;
            background: var(--black);
        }
        .item_nav{
            list-style-type: none;
            padding: 0 20px 0 20px;
            cursor: pointer;
            @include m {
                margin-bottom: 10px;
                padding: 5px;
                button{
                    width: 60px;
                    padding: 5px 10px;
                }
            }
        }
    }
}