// **** FIELDSET **** //
// ================== //


.card{
    border: 1px solid $color-white;
    box-shadow: 5px 5px $color-main;
    padding: 20px;
    h3{
        margin: 0 10px;
        padding-bottom: 10px;
    }
}