// **** FIELDSET **** //
// ================== //


.card{
    border: 1px solid var(--white);
    box-shadow: 5px 5px var(--mainColor);
    padding: 20px;
    h3{
        margin: 0 10px;
        padding-bottom: 10px;
    }
}