// **** TXT **** //
// ============= //

h1{
    position: absolute;
    color: $color-main;
    font-family: $font-chivo;
    font-size: 7vw;
    &::selection{
        background-color: $color-white;
    }
    @include m {
        font-size: 10vw;
    }
}
h2{
    font-family: $font-chivo;
    padding-top: 80px;
    font-size: 3rem;
    color: $color-main;
    margin: 50px;
    @media screen and (max-width:600px) {
        font-size: 4em;
    }
}
h3{
    color: $color-white;
    font-family: $font-roboto;
    font-size: 4em;
    font-weight: 400;
}
h3{
    color: $color-white;
    font-family: $font-roboto;
    font-size: 4em;
    font-weight: 400;
}
p, .p{
    color: $color-white;
    text-align: justify;
    font-family: $font-roboto;
    font-size: 1.8em;
    font-weight: 100;
}
a{
    color: $color-white;
    font-family: $font-roboto;
    text-decoration: none;
    font-size: 2em;
    padding: 0;
    cursor: none;
    &::after{
        content: "";
        display: block;
        width: 0px;
        margin: 2px auto 0 auto;
        height: 1px;
        border-radius: 2px;
        background: $color-main;
        transition: width 0.2s ease-out;
    }
    &:hover::after{
        width: 100%;
    }
}
.txt-link{
    margin: 0;
    padding: 0;
    line-height: 0;
    color: $color-white;
    text-align: justify;
    font-family: $font-roboto;
    font-size: 1em;
    display: inline-block;
    font-weight: 100;
    color: $color-main;
}