*, *::after, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  background-color: var(--black);
}

:root {
  --mainColor: #0075F2;
  --white: #f1f1F1;
  --black: #000;
  --chivo: "Chivo", sans-serif;
  --roboto: "Roboto", sans-serif;
  --indie: "Indie Flower", cursive;
  --transition: 0.3s;
}

@keyframes show_skills_left {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(10px);
  }
}
@keyframes show_skills_top {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(10px);
  }
}
@keyframes complete_line {
  to {
    stroke-dashoffset: 0;
  }
}
h2 {
  font-family: "Chivo", sans-serif;
  padding-top: 80px;
  font-size: 3rem;
  color: var(--mainColor);
  margin: 50px;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 4em;
  }
}

h3 {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: 400;
}

h3 {
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: 400;
}

p, .p {
  color: var(--white);
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 100;
}

a {
  color: var(--white);
  font-family: var(--roboto);
  text-decoration: none;
  font-size: 2em;
  padding: 0;
  cursor: pointer;
}
a::after {
  content: "";
  display: block;
  width: 0px;
  margin: 2px auto 0 auto;
  height: 1px;
  border-radius: 2px;
  background: var(--mainColor);
  transition: width 0.2s ease-out;
}
a:hover::after {
  width: 100%;
}

.txt-link {
  color: var(--white);
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  display: inline-block;
  font-weight: 100;
  color: var(--mainColor);
}

button {
  transform: translate(0, 0);
  background: var(--mainColor);
  width: auto;
  padding: 8px 30px;
  border: none;
  cursor: pointer;
  color: var(--white);
}
button:after, button:before {
  transition: var(--transition);
  position: absolute;
  top: 100%;
  content: "";
}
button:before {
  transition: var(--transition);
  background: var(--white);
  top: 3px;
  right: -3px;
  height: 100%;
  width: 3px;
}
button:after {
  transition: var(--transition);
  width: 100%;
  background: var(--white);
  right: 0px;
  left: 3px;
  height: 3px;
}
button:hover:after, button:hover:before {
  transition: var(--transition);
  display: none;
}
button:hover:before {
  transition: var(--transition);
  display: none;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--black);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader svg {
  width: 80px;
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .loader svg {
    display: none;
  }
}
.loader svg path {
  stroke: var(--mainColor);
  animation: complete_line 4s ease-out forwards;
}
.loader svg path:nth-child(1) {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
}
.loader svg path:nth-child(2) {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
}

.loader.remove {
  display: none;
}

#barre {
  height: 5px;
  position: fixed;
  z-index: 999;
  bottom: top;
  background: var(--mainColor);
}

.change-color-container {
  position: absolute;
  position: fixed;
  display: flex;
  right: 20px;
  bottom: 10px;
  z-index: 99;
}
.change-color-container .change-color {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
  margin: 0 10px;
  cursor: pointer;
}
.change-color-container .violet {
  background: #9984D4;
}
.change-color-container .pink {
  background: #FF4D80;
}
.change-color-container .blue {
  background: #0075F2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 99;
  position: fixed;
  width: 100%;
  background-color: var(--black);
}
nav svg {
  width: 80px;
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  nav svg {
    display: none;
  }
}
nav svg path {
  stroke: var(--mainColor);
  animation: complete_line 4s ease-out forwards;
}
nav svg path:nth-child(1) {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
}
nav svg path:nth-child(2) {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
}
nav .liste_nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  nav .liste_nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    background: var(--black);
  }
}
nav .liste_nav .item_nav {
  list-style-type: none;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  nav .liste_nav .item_nav {
    margin-bottom: 10px;
    padding: 5px;
  }
  nav .liste_nav .item_nav button {
    width: 60px;
    padding: 5px 10px;
  }
}

.hero_container {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .hero_container {
    grid-template-columns: 100%;
  }
}
.hero_container .hero {
  display: flex;
  align-items: center;
}
.hero_container .hero .lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
}
.hero_container .hero .lines .line1 {
  width: 1px;
  height: 20vh;
  background: var(--white);
}
.hero_container .hero .lines .round {
  width: 20px;
  height: 20px;
  margin: 20px 0;
  border-radius: 99px;
  border: 1px solid var(--white);
}
.hero_container .hero .lines .line2 {
  width: 1px;
  height: 20vh;
  background: var(--white);
}
.hero_container .hero .title {
  margin-left: 20px;
  transform: translateY(-200%);
}
.hero_container .hero .title p {
  color: var(--white);
  font-family: var(--roboto);
  font-size: 3.4vw;
}
@media screen and (max-width: 600px) {
  .hero_container .hero .title p {
    font-size: 5vw;
  }
}
.hero_container .hero .title p span {
  font-family: var(--indie);
}
.hero_container .hero .title .title_effect {
  position: relative;
}
.hero_container .hero .title .title_effect h1 {
  position: absolute;
  color: var(--mainColor);
  font-family: var(--chivo);
  font-size: 7vw;
}
@media screen and (max-width: 600px) {
  .hero_container .hero .title .title_effect h1 {
    font-size: 10vw;
  }
}
.hero_container .hero .title .title_effect .shadow_effect {
  position: absolute;
  font-family: var(--chivo);
  font-size: 7vw;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: var(--white);
  transform: translate(5px, 5px);
}
@media screen and (max-width: 600px) {
  .hero_container .hero .title .title_effect .shadow_effect {
    font-size: 10vw;
  }
}
.hero_container img {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .hero_container img {
    display: none;
  }
}

[class*=anim_scroll] {
  opacity: 0;
  transform: translateY(-30px);
  z-index: 1;
}

.anim_scroll1 {
  transition-delay: 0s;
}

.anim_scroll2 {
  transition-delay: 0.2s;
}

.anim_scroll3 {
  transition-delay: 0.3s;
}

.show_scroll {
  opacity: 1;
  transform: translateY(0px);
  transition: 1s;
  z-index: 1;
}

.iDo_container {
  padding: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .iDo_container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .iDo_container {
    padding: 30px;
  }
}
.iDo_container .iDo_items h3 {
  padding-bottom: 10px;
}

.about .about_item {
  padding: 30px 80px;
}
@media screen and (max-width: 600px) {
  .about .about_item {
    padding: 30px 30px;
  }
}
.about a, .about button {
  display: inline-block;
}
.about .button-cv {
  margin-left: 80px;
}
@media screen and (max-width: 600px) {
  .about .button-cv {
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .skills .skills_container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .skills .skills_container svg {
    width: 50px;
  }
}
.skills .skills_container svg {
  fill: var(--white);
  width: 80px;
  stroke: var(--white);
}
.skills .skills_container svg:hover {
  transition: var(--transition);
  fill: var(--mainColor);
  stroke: var(--mainColor);
}
.skills .skills_container_dev, .skills .skills_container_others {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .skills .skills_container_dev, .skills .skills_container_others {
    flex-direction: column;
  }
}
.skills .skills_items {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 200px;
}
@media screen and (max-width: 600px) {
  .skills .skills_items {
    flex-direction: column;
    width: auto;
  }
}
.skills .skills_items .details_skills {
  display: none;
  height: 50px;
  font-size: 20px;
}
.skills .skills_items .details_skills.active {
  display: block;
  animation: show_skills_left 1s forwards;
}
@media screen and (max-width: 600px) {
  .skills .skills_items .details_skills.active {
    animation: show_skills_top 1s forwards;
  }
}
.skills .separation {
  width: 90%;
  height: 1px;
  background: var(--white);
  margin: 40px 5%;
}
@media screen and (max-width: 600px) {
  .skills .separation {
    width: 1px;
    height: 600px;
  }
}

.projects .project_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.projects .project_container .project_items {
  margin: 20px;
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .project_container .project_items img {
  width: 100%;
}
.projects .project_container .project_items h3 {
  font-size: 3em;
}
.projects .project_container .project_items a {
  margin: 20px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  padding: 40px 20px;
}
footer .contact a {
  display: inline-block;
  margin: 0 30px 20px 0;
}
footer .contact svg {
  width: 40px;
  fill: var(--white);
}
footer .contact svg:hover {
  transition: 0.3s;
  fill: var(--mainColor);
}

/*# sourceMappingURL=main.css.map */
